<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-4">
            <h2>User List</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Main RID</th>

                </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.username %></td>
                        <td><%= user.mainRid %></td>
                        <td><a href="/edit/<%= user.id %>" class="btn btn-primary">Edit</a></td>
                        <td><a href="/delete/<%= user.id %>" class="btn btn-primary">Delete</a></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
